<a href="https://colab.research.google.com/github/anupkunduabc/PROBLEM-SOLVING-AND-PYTHON-PROGRAMMING/blob/main/integer_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Integer Operations Demonstration**

---



# Created by

---


#**Dr. Anup Kundu,**
##Assistant Professor, Chemical Engineering,
## Sri Sivasubramaniya Nadar College of Engineering, Chennai


---

In [1]:
x, y = 12, 5
print("Initial values: x =", x, ", y =", y)

Initial values: x = 12 , y = 5

# 1. Arithmetic Operations

In [2]:
print("\n--- Arithmetic Operations ---")
print("Addition (x + y):", x + y)
print("Subtraction (x - y):", x - y)
print("Multiplication (x * y):", x * y)
print("Division (x / y):", x / y)      # Result is float
print("Floor Division (x // y):", x // y)  # Integer division
print("Modulus (x % y):", x % y)
print("Exponentiation (x ** y):", x ** y)

--- Arithmetic Operations ---
Addition (x + y): 17
Subtraction (x - y): 7
Multiplication (x * y): 60
Division (x / y): 2.4
Floor Division (x // y): 2
Modulus (x % y): 2
Exponentiation (x ** y): 248832

# 2. Comparison (Relational) Operations

In [3]:
print("\n--- Comparison Operations ---")
print("x == y:", x == y)
print("x != y:", x != y)
print("x > y:", x > y)
print("x < y:", x < y)
print("x >= y:", x >= y)
print("x <= y:", x <= y)

--- Comparison Operations ---
x == y: False
x != y: True
x > y: True
x < y: False
x >= y: True
x <= y: False

# 3. Logical Operations (using integers as Boolean)
# In Python, 0 = False, non-zero = True

In [4]:
print("\n--- Logical Operations ---")
print("x and y:", x and y)   # returns y if x != 0
print("x or y:", x or y)     # returns x if x != 0
print("not x:", not x)       # False if x != 0

--- Logical Operations ---
x and y: 5
x or y: 12
not x: False

# 5. Assignment Operations

In [5]:
print("\n--- Assignment Operations ---")
z = 10
print("z =", z)
z += 5
print("z += 5:", z)
z -= 3
print("z -= 3:", z)
z *= 2
print("z *= 2:", z)
z //= 4
print("z //= 4:", z)
z %= 3
print("z %= 3:", z)
z **= 2
print("z **= 2:", z)

--- Assignment Operations ---
z = 10
z += 5: 15
z -= 3: 12
z *= 2: 24
z //= 4: 6
z %= 3: 0
z **= 2: 0

# 6. Miscellaneous: Absolute Value, Power, Divmod

In [6]:
print("\n--- Miscellaneous Operations ---")
print("abs(-15):", abs(-15))
print("pow(2, 5):", pow(2, 5))    # Equivalent to 2**5
print("divmod(17, 3):", divmod(17, 3))  # (quotient, remainder)

--- Miscellaneous Operations ---
abs(-15): 15
pow(2, 5): 32
divmod(17, 3): (5, 2)