<a href="https://colab.research.google.com/github/anupkunduabc/PROBLEM-SOLVING-AND-PYTHON-PROGRAMMING/blob/main/Print_Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Print Function Demonstrations

# 1. Basic Print

In [3]:
print("Hello, Python!")  # Output: Hello, Python!
print("===========================================")

Hello, Python!
===========================================



## 2. Printing Multiple Items

In [4]:
# 2. Printing Multiple Items
a, b = 10, 20
print("Values:", a, b)  # Output: Values: 10 20
print("===========================================")

Values: 10 20
===========================================

# 3. sep (Separator Option)

In [5]:
print(1, 2, 3, 4, sep=", ")       # Output: 1, 2, 3, 4
print("2025", "09", "22", sep="-")  # Output: 2025-09-22
print("===========================================")

1, 2, 3, 4
2025-09-22
===========================================

# 4. end (Ending Option)

In [6]:
print("Hello", end=" ")
print("World")  # Output: Hello World
print("Hi", end="*")
print("===========================================")

Hello World
Hi*===========================================


# 5. f-Strings (Modern Formatting)

In [7]:
name = "Python"
version = 3.11
print(f"Language: {name}, Version: {version}")
# Output: Language: Python, Version: 3.11
print("===========================================")

Language: Python, Version: 3.11
===========================================

# 6. format() Method

In [8]:
# 6. format() Method
print("Name: {}, Age: {}".format("Alice", 22))
# Output: Name: Alice, Age: 22
print("x = {0}, y = {1}, x+y = {2}".format(5, 7, 5+7))
# Output: x = 5, y = 7, x+y = 12
print("===========================================")

Name: Alice, Age: 22
x = 5, y = 7, x+y = 12
===========================================

# 7. Escape Sequences

In [9]:
# 7. Escape Sequences
print("Line1\nLine2")       # Output: Line1 (newline) Line2
print("Col1\tCol2")         # Output: Col1    Col2
print("He said: \"Hello\"")  # Output: He said: "Hello"
print("===========================================")

Line1
Line2
Col1	Col2
He said: "Hello"
===========================================

# 8. Printing Without Space

In [10]:
print("A", "B", "C", sep="")  # Output: ABC
print("===========================================")

ABC
===========================================

# 9. Printing with Numbers (Calculation inside print)

In [11]:
x, y = 5, 3
print("Sum =", x + y)        # Output: Sum = 8
print(f"{x} + {y} = {x + y}")  # Output: 5 + 3 = 8
print("===========================================")

Sum = 8
5 + 3 = 8
===========================================